body{
    background-image: url("../images/hendrik-kespohl-Stk2vfPWr0w-unsplash.jpg");
    }
    header{
        background-image: url("../images/myke-simon-atsUqIm3wxo-unsplash.jpg");
        background-size: 100%;
        height: 100vh;
    }
    
    
    #contener img{
        width: 850px;
    }
    
    #contener{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
    }
    
    
    
    #Elon{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        height: 0%;
    }
    
    #Elon img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        font-size: 5px;
        box-shadow: black 5px 5px 10px;
    }
    
    
    

    .contener-poster img{
        border-radius: 20px;
        margin: 10px;
        width: 350px;
        height: 450px;
        border: white 10px solid;
        box-shadow: black 5px 5px 15px;
        
    }
   
    .contener-poster{
        display: flex;
        justify-content: center;
    }

    .liste-footer{
        list-style-type: none;
        display: flex;
        justify-content: center;
    
    }
    .liste-footer li{
        margin-right: 30px;
    
    }
    
    nav{
        height: 60px;
    }
    #categories{
        display: flex;
        justify-content: center;
        margin: 0 500px;
        border-radius: 20px;
        width: 325px;
        height: 440px;
        border: white 10px solid;
        box-shadow: black 5px 5px 15px;
        
        
    }

