body{
    background-image: url("../images/hendrik-kespohl-Stk2vfPWr0w-unsplash.jpg");
    }
    
    
    #contener img{
        width: 850px;
    }

    .nav-link{
        color: white;
    }
    
    .nav-link:hover{
        color:rgb(255, 0, 98)
    }
    
    #contener{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
    }
    
    #logo{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    #Elon{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        height: 0%;
    }
    
    #Elon img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        font-size: 5px;
        box-shadow: black 5px 5px 10px;
    }
    
    
    

    .contener-photo img{
        border-radius: 20px;
        margin: 10px;
        width: 350px;
        height: 450px;
        border: white 10px solid;
        box-shadow: black 5px 5px 15px;
        margin: 3 10px;
        
    }

    .liste-footer{
        list-style-type: none;
        display: flex;
        justify-content: center;
    
    }
    .liste-footer li{
        margin-right: 30px;
    
    }
    
    nav{
        height: 60px;
    }

    h2{
        color: white;
    }

    .font-weight-light{
        background-color: rgba(0, 0, 0, 0.350);
    }

    .card-img{
        border: white 10px solid;
        border-radius: 20px;
    }

    i{
        color: white;
    }
    
    i:hover{
        color:rgb(255, 0, 98)
    }
    

    @media (max-width: 600px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* medium and up screens */
    @media (min-width: 600px) {
        
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(25%);
        }
        
        .carousel-inner .carousel-item-start.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-25%);
        }
    }
    
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }
    
