body{
    background-image: url("../images/hendrik-kespohl-Stk2vfPWr0w-unsplash.jpg");
    }
    
    
    #contener img{
        width: 850px;
    }

    .nav-link{
        color: white;
    }
    
    .nav-link:hover{
        color:rgb(255, 0, 98)
    }
    
    #contener{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
    }
    
    
    
    #Elon{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        height: 0%;
    }
    
    #Elon img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        font-size: 5px;
        box-shadow: black 5px 5px 10px;
    }
    
    
    

    .contener-photo img{
        border-radius: 20px;
        margin: 10px;
        width: 350px;
        height: 450px;
        border: white 10px solid;
        box-shadow: black 5px 5px 15px;
        margin: 3 10px;
        
    }

    .liste-footer{
        list-style-type: none;
        display: flex;
        justify-content: center;
    
    }
    .liste-footer li{
        margin-right: 30px;
    
    }
    
    nav{
        height: 60px;
    }

    #caroussel{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }

    
