body{
    background-image: url("../images/hendrik-kespohl-Stk2vfPWr0w-unsplash.jpg");
    }
    header{
        background-image: url("../images/myke-simon-atsUqIm3wxo-unsplash.jpg");
        background-size: 100%;
        height: 100vh;
    }
    
    
    #contener img{
        width: 850px;
    }
    
    #contener{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
    }
    
    
    
    #Elon{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        height: 0%;
    }
    
    #Elon img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        font-size: 5px;
        box-shadow: black 5px 5px 10px;
    }
    .liste-footer{
        list-style-type: none;
        display: flex;
        justify-content: center;
    
    }
    .liste-footer li{
        margin-right: 50px;
    
    }
    
    nav{
        height: 60px;
    }
    .contener-reine img{
        border-radius: 20px;
        margin: 10px;
        width: 500px;
        height: 650px;
        border: white 10px solid;
        box-shadow: black 10px 10px 30px;
        
    }
    .contener-reine{
        display: flex;
        justify-content: flex-start;
        margin: 50px;
        padding: 50px;
    }


    #contener-liste{
        display: flex;
        justify-content: flex-end;
    }
    /* .contener-liste{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    } */
    .contener-logo{
        display: flex;
        border-radius: 50%;
    }