body {
    min-height: 200vh;
    position: relative;
}

header {
    background-image: url("../images/hendrik-kespohl-Stk2vfPWr0w-unsplash.jpg");
    background-size: 100%;
    height: 790px;
    width: 1361px;
}

#Elon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    height: 0%;
}

#Elon img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 5px;
    box-shadow: black 5px 5px 10px;
}

.liste-footer {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.liste-footer li {
    margin-right: 50px;
}

nav {
    height: 60px;
}

.contener-reine #poster {
    border-radius: 20px;
    margin: 10px;
    width: 400px;
    height: 550px;
    border: white 10px solid;
    box-shadow: black 10px 10px 30px;

}

.contener-reine {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 1%;
    color: white;
}

#contener-liste {
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.nav-link:hover{
    color:rgb(255, 0, 98)
}

.liste-footer {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.liste-footer li {
    margin-right: 50px;

}

#p1{
    color: white
}

#p2 {
    color: white;
}

li {
    color: white;
    text-decoration: none;
}

#contener-info{
    background-color: rgba(0, 0, 0, 0.350);
    padding: 30px;
    margin-top:30px;
    border-radius: 5%;
}

#contener-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10%;
}

.contener-logo {
    border-radius: 50%;
}

#plateform{
    width: 100px;
    border-radius: 10px;
    box-shadow: black 5px 5px 15px;
}

#plateform{
    display: flex;
}